logging:
  file:
    #日志文件目录。./表示相对于项目根目录，即项目根目录下的logs目录。也可配置绝对路径，如：/home/webapp/logs
    path: ./logs/${spring.application.name}

spring:
  cloud:
    config:
      server:
        native:
          # 磁盘绝对路径
          #search-locations: file:D:/code/me/springcloud-template/config-yml
          # 磁盘相对路径
          search-locations: file:./config-yml
          # classpath相对路径
          #search-locations: classpath:/config-yml
