<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!--引用公共日志-->
    <include resource="logback-conf-base.xml"/>
    
    <!-- 自定义日志打印，比如调整orm查询数据库的日志级别 -->
	<logger name="com.company.user.mapper" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ERROR_FILE" />
	</logger>
	
</configuration>