<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.tool.mapper.market.NavItemConditionMapper">
    <select id="selectByNavItemIds" resultType="com.company.tool.entity.NavItemCondition">
        select * from nav_item_condition
        where
        <choose>
        	<when test="navItemIds != null and navItemIds.size() > 0">
        		nav_item_id in
		        <foreach collection="navItemIds" open="(" item="item" close=")" separator=",">
		            #{item}
		        </foreach>
        	</when>
        	<otherwise>
        		1 != 1
        	</otherwise>
        </choose>

    </select>
</mapper>
