<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.order.mapper.OrderMapper">
	<select id="pageByUserIdAndStatus" resultType="com.company.order.entity.Order">
		select * from `order`
		<where>
			user_id = #{userId}
			<if test="statusEnum != null">
				and status = #{statusEnum.status}
			</if>
			and user_del = 1
		</where>
		order by id desc
	</select>
</mapper>