spring:
  config:
    import: classpath:bootstrap.yml # 在Spring Boot 2.7.x版本中，默认情况下，bootstrap.yml件不再被自动加载
  profiles:
    include: routes,resilience4j,sentinel,rabbitmq,rocketmq,redis
  cloud:
    loadbalancer:
      eager-load: # spring-cloud-commons-3.1.8 没有eager-load，参考spring cloud高版本实现饥饿加载
        clients: template-web, template-app, template-openapi, template-adminapi
    gateway:
      # 处理跨域
      globalcors:
        cors-configurations:
          '[/**]':
            allow-credentials: false
            allowed-headers:
            - '*'
            allowed-methods:
            - '*'
            allowed-origins:
            - '*'
            max-age: 3600
      # 处理重复header，相同header多个值时的处理方式，三种规则可选（RETAIN_FIRST|RETAIN_UNIQUE|RETAIN_LAST）
      default-filters:
      - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST

template:
  sqlInjectFilter:
    # SQL注入过滤关键词（多个英文逗号分隔）
    keywords: union select