# body加解密
# 下面是环境区分，多个配置以 ‘---’ 分开
---
# dev环境配置
spring:
  config:
    activate:
      on-profile: dev
encrypt:
  body:
    enabled: false # 是否开启加解密
    aes-key: 1468657f04e24e4d8c43f1b8b4032984 #AES加解密秘钥
    des-key: 1468657f04e24e4d8c43f1b8b4032984 #DES加解密秘钥

---
# test环境配置
spring:
  config:
    activate:
      on-profile: test
encrypt:
  body:
    enabled: false # 是否开启加解密
    aes-key: 1468657f04e24e4d8c43f1b8b4032984 #AES加解密秘钥
    des-key: 1468657f04e24e4d8c43f1b8b4032984 #DES加解密秘钥

---
# pre环境配置
spring:
  config:
    activate:
      on-profile: pre
encrypt:
  body:
    enabled: true # 是否开启加解密
    aes-key: 1468657f04e24e4d8c43f1b8b4032984 #AES加解密秘钥
    des-key: 1468657f04e24e4d8c43f1b8b4032984 #DES加解密秘钥

---
# prod环境配置
spring:
  config:
    activate:
      on-profile: prod
encrypt:
  body:
    enabled: true # 是否开启加解密
    aes-key: 1468657f04e24e4d8c43f1b8b4032984 #AES加解密秘钥
    des-key: 1468657f04e24e4d8c43f1b8b4032984 #DES加解密秘钥
