<?xml version="1.0" encoding="UTF-8"?>
<!--
    scan: 当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。
    scanPeriod: 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
    debug: 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。
-->
<configuration debug="false">
	<!--引用公共日志 -->
	<include resource="logback-conf-base.xml" />
	<!--引用线程池日志 -->
	<include resource="logback-conf-threadpool.xml" />
	<!--引用总结日志，打印API耗时，SQL耗时 -->
    <include resource="logback-conf-summary.xml" />
</configuration>