<?xml version="1.0" encoding="UTF-8"?>
<included>
	<!--引用公共日志（普通版，2选1） -->
	<!--<include resource="logback-conf-base.xml" /> -->
	<!--引用公共日志（skywalking版，2选1） -->
	<include resource="logback-conf-base-skywalking.xml" />

	<!--引用线程池日志 -->
	<include resource="logback-conf-threadpool.xml" />
	<!--引用总结日志，打印API耗时，SQL耗时 -->
	<include resource="logback-conf-summary.xml" />
</included>