logging:
  file:
    #日志文件目录。./表示相对于项目根目录，即项目根目录下的logs目录。也可配置绝对路径，如：/home/webapp/logs
    path: ./logs

template:
  domain: http://p-domain.com
  enable:
    cache: guava # guava:本地缓存,redis:redis缓存,combination:组合缓存,cachemanager:CacheManager缓存
    lock: redisson # jvm:jvm锁,redisson:redisson分布式锁
    message-driven: rocketmq # springevent:spring事件,rabbitmq:RabbitMQ消息队列,rocketmq:RocketMQ消息队列,redis:redis消息队列
    access-control: true
  mock:
    time: false

# knife4j文档，访问地址：http://localhost:xxxx/doc.html
knife4j:
  enable: true # 增强模式开关
  production: false # 是否开启生产环境屏蔽   true:关闭swagger，false:开启swagger
  basic:
    enable: true  # 是否开启认证
    username: admin # Basic认证用户名
    password: 123456 # Basic认证密码

# 开发者路由配置
developer:
  enabled: true
  headers: x-deviceid,x-current-user-id
