spring:
  config:
    import: classpath:bootstrap.yml # 在Spring Boot 2.7.x版本中，默认情况下，bootstrap.yml件不再被自动加载
  profiles:
    include: feign,resilience4j,sentinel,redis,rabbitmq,rocketmq,messagedriven,cachemanager,token,encryptbody
  main:
    allow-bean-definition-overriding: true
  messages:
    # i18n国际化设置
    basename: i18n/messages,i18n-framework/messages,i18n-framework-edge/messages # 默认名称，可以写多个,用逗号分隔
    encoding: UTF-8 # 国际化资源文件编码，默认UTF-8
    fallback-to-system-locale: true # 找不到对应区域的语言时，是否回退到系统区域的语言，默认 true
    use-code-as-default-message: true # 找不到code时,是否直接返回code值，而不是抛异常，默认false，抛异常
  #  web:
  #    locale: en_US # 默认语言
  servlet:
    multipart:
      max-file-size: 10MB #单个文件大小限制，默认1M
      max-request-size: 10MB #一次请求中所有上传文件总大小限制，默认1M
  resources:
    #用于告诉springboot应该在何处寻找静态资源，springboot默认的位置和优先级：spring.resources.static-locations=classpath:/static,classpath:/public,classpath:/resources,classpath:/META-INF/resources
    static-locations: /assets/
  mvc:
    #资源访问路径和spring.mvc.static-path-pattern匹配，当资源访问路径为"%/static/**”时，springboot才会处理请求
    static-path-pattern: /assets/**
    #相关页面解析器设置
    view:
      prefix: /views/
      suffix: .jsp
  cloud:
    loadbalancer:
      eager-load: # spring-cloud-commons-3.1.8 没有eager-load，参考spring cloud高版本实现饥饿加载
        clients: template-tool, template-system, template-user, template-order

logging:
  #为了避免日志目录生成{APP_NAME}_IS_UNDEFINED目录，不能使用默认配置logback.xml或logback-spring.xml命名，详细参考：http://www.itersblog.com/archives/5.html
  config: classpath:logback-conf.xml
  file:
    #日志文件目录。./表示相对于项目根目录，即项目根目录下的logs目录。也可配置绝对路径，如：/home/webapp/logs
    path: ./logs/${spring.application.name}

template:
  sequence:
    datacenterId: 0
  threadpool:
    corePoolSize: 10
    maxPoolSize: 20
    queueCapacity: 200
    keepAliveSeconds: 60
    threadNamePrefix: t-subTask-
    waitForTasksToCompleteOnShutdown: true
    awaitTerminationSeconds: 60
  requestFilter:
    # 忽略日志打印匹配表达式，支持?匹配单个字符，*匹配多个字符
    ignoreLogPatterns: /assets/*,/favicon.ico
