label.error{
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 34px;
    margin: 0;
    color: #f05050;
}

input.error,input.error:focus,textarea.error,textarea.error:focus{
    border-color: #f05050 !important;
}