<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.admin.mapper.{module}.{ModelName}Dao">

	<sql id="listCondition">
		FROM {tab}
		<trim prefix="WHERE" prefixOverrides="AND|OR">
{search_form}	</trim>
	</sql>

	<select id="list" parameterType="{modelName}" resultType="{modelName}">
		SELECT *
		<include refid="listCondition" />
		<include refid="XSBaseMapper.sort" />
		<include refid="XSBaseMapper.limit" />
	</select>

	<select id="count" parameterType="{modelName}" resultType="long">
		SELECT COUNT(id)
		<include refid="listCondition" />
	</select>
</mapper>