package ${package.Entity};

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import java.io.Serializable;
import java.util.Date;

/**
 * ${table.comment}
 * @author CodeGenerate
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@TableName("${table.name}")
@ApiModel(value="${entity}对象", description="${table.comment}")
public class ${entity} implements Serializable {

    private static final long serialVersionUID = 1L;
    
<#-- ----------  BEGIN 字段循环遍历  ---------->
<#list table.fields as field>
<#if field.keyFlag?? && field.keyFlag>
    @ApiModelProperty(value = "${field.comment!}")
    @TableId(value = "${field.name}", type = IdType.AUTO)
    private ${field.propertyType} ${field.propertyName};
<#else>
    @ApiModelProperty(value = "${field.comment!}")
    private ${field.propertyType} ${field.propertyName};
</#if>
</#list>
<#------------  END 字段循环遍历  ---------->

}