package ${package.Mapper};

import ${package.Entity}.${entity};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * ${table.comment} Mapper 接口
 * @author CodeGenerate
 * @since ${date}
 */
public interface ${table.mapperName} extends BaseMapper<${entity}> {

}