<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="${ctxPath}/css/bootstrap.min.css">
</head>
<html>
<body>
src/main/resources templates saddddddddddd---- ${ctxPath}
${item}

<div>
自定义标签：
<#dictDesc key="b"></#dictDesc>
</div>

<div>
自定义标签-字典：
<#dictDesc2 key="c"></#dictDesc2>
</div>


<div>
自定义标签-下拉选项：
<select id="sad">
<#dictOptions value="c"></#dictOptions>
</select>
</div>

<div>
自定义标签-下拉选项222：
<select id="sad222">
<#descriptionOptions clazz="com.company.admin.entity.Order" property="type"></#descriptionOptions>
</select>
</div>

</body>
</html>
