<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="${ctxPath}/css/bootstrap.min.css">
</head>
<html>
<body>
src/main/resources templates saddddddddddd---- ${ctxPath}
${item}

<br/>
<br/>

<div>
自定义标签：<br/>
<#dictDesc key="b"></#dictDesc>
</div>

<br/>
<br/>

<div>
自定义标签-字典：<br/>
<#dictDesc2 key="c"></#dictDesc2>
</div>

<br/>
<br/>

<div>
自定义标签-下拉选项：<br/>
<select id="sad">
<#dictOptions value="c"></#dictOptions>
</select>
</div>

<br/>
<br/>

<div>
自定义标签-下拉选项222：<br/>
<select id="sad222">
<#descriptionOptions clazz="com.company.admin.entity.Order" property="type"></#descriptionOptions>
</select>
</div>

<br/>
<br/>

<div>
registerFunctionPackage：<br/>
@if(utils.isEmpty(aaa)){
<div>aaaaaaaaaa</div>
@}else{
<div>bbbbbbbbbb</div>
@}
</div>

${utils.toStr(aaa)}

<br/>
<br/>

<div>
for：<br/>
@for(order in orderList){
    @if(stringUtils.isEmpty(order.orderCode)){
        <li>
            orderCode null
        </li>
    @}else{
        <li>
            orderCode: ${order.orderCode} ${order.type}
        </li>
    @}
@}

<br/>
<br/>

<div>
registerFunction：<br/>
${env("a","b")}

<br/>
环境：
@if(isDev()){
开发环境
@}
</div>

printf:${printf("    aaaaaaaaaaaaaaaa")}
<br/>
strutil:${strutil.trim("   aaaaaaaaaaaaaaaa  ")}
</body>
</html>
