spring:
  config:
    import: classpath:bootstrap.yml # 在Spring Boot 2.7.x版本中，默认情况下，bootstrap.yml件不再被自动加载
  profiles:
    include: gracefulresponse,feign,resilience4j,sentinel,redis,rabbitmq,rocketmq,messagedriven,cachemanager,concept,tio
  main:
    allow-bean-definition-overriding: true

template:
  sequence:
    datacenterId: 8
  threadpool:
    corePoolSize: 10
    maxPoolSize: 20
    queueCapacity: 200
    keepAliveSeconds: 60
    threadNamePrefix: t-subTask-
    waitForTasksToCompleteOnShutdown: true
    awaitTerminationSeconds: 60
